.logo{
 height:50px;
 width:55px;

}
.profile{
  height:50px;
  width:50px;
  border-radius:100%;
}
.header-container{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    height:100%;
      padding-left:160px;
    padding-right:160px;
}
@media(max-width:1000px){
   .header-container{
    padding-left:75px;
    padding-right:75px;
   }

}
@media(max-width:650px){
   .header-container{
    padding-left:35px;
    padding-right:35px;
   }

}
.header{
    height:90px;
   box-shadow: 0px 5px 20px 0px #0000000D;
    width:100dvw;
  
}

.profile-greet{
    color :#999999;
}
.profile-name{
    color :#252525;
    font-weight:600;
}
.profile-container{
    display:flex;
    align-items: center;
    gap:14px
}
@media(max-width:500px){
    .profile-name{
        font-size:15px;
    }
}

