.profile-card{
    background: #EEF8F2;
    max-width:217px;
    border-radius:14px;
    padding:30px 20px;

}

.profile-card h2{
    font-weight:600;
    font-size:20px;
    color: #42794A;

}
.profile-card p{
    color: #999999;
    font-weight:500;
    font-size:15px;
}
.profile-page-image-container{
    background-color:#42794A;
     height:64px;
     display:flex;
     justify-content:center;
     align-items:center;
     width:64px;
     margin-bottom:18px;
     border-radius:100%;
}


@media(max-width:768px){
    .profile-card{
        max-width:100%;
    }
}



