.service-card-container{
    width:490px;
    height:200px;
    border: 1px solid #EEEEEE;
    border-radius:16px;
     padding:24px 32px;
}
.services-image-container{
    width:96px;
    height:120px;
    border-radius:10px;
    margin:10px;
    text-align:center;
}
.services-image-container .services-inner-image-container{
    box-shadow: 0px 0px 20px 0px #0000000D;
    height:80px;
    width:80px;
    border-radius:16px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.service-card-container h2{
    font-weight:600;
    font-size:14px;
    letter-spacing: 12%;
    color:#999999;
    text-transform: uppercase;
}





















